<script>
  export let week;
  export let week_idx;
  export let width;
  export let innerHeight;
  export let innerWidth;
  export let electricity_data;
  export let gas_data;
  export let margin;
  export let leaf_daywidth = 15;
  export let leaf_height = 40;
  export let rotation;
  export let xtransformation;
  export let ytransformation;
  export let max_range;
  export let range_xscale;
  export let max_use;

  import { scaleLinear } from "d3-scale";

   //create scales
 $: xScale = scaleLinear()
    .domain([1, gas_data.length])
    .range(range_xscale)
 $: elecYScale = scaleLinear()
    .domain([0,max_use])
    .range([leaf_height, 0]);

 $: gasYScale = scaleLinear()
    .domain([0,max_use])
    .range([0, leaf_height])
   
   //define blueprint for alternating leaves
 $: max_range = leaf_daywidth * gas_data.length/24 ; 
 $: if (week % 2 == 0) {
    xtransformation = width/2;
    ytransformation = margin.top + (5+1-week_idx)*innerHeight/6 -60;
    rotation = "rotate(-30)";
    range_xscale = [0, max_range];
 } else {
    xtransformation = width/2 - max_range+14;
    ytransformation = margin.top + (5+1-week_idx)*innerHeight/6 -60 - 50;
    rotation = "rotate(30)";
    range_xscale = [max_range, 0];
 }

 // define pathgenerators
 let pathGenerator_elec = (d) => {
    let path = "M " + xScale(1) + ","+ elecYScale(0);
    d.forEach((hour, idx) => {
        path += " " + xScale(idx+1) + ',' + elecYScale(hour)
    })
    path += " " + xScale(gas_data.length) + "," + elecYScale(0)  + " Z";
    return path;
 }
 let pathGenerator_gas = (d) => {
    let path = "M " + xScale(1) + "," + gasYScale(0);
    d.forEach((hour, idx) => {
        let ycoord = gasYScale(hour)
        path += " " + xScale(idx+1) + ',' + ycoord
    })
    path += " " + xScale(gas_data.length) + "," + gasYScale(0) + " Z";
    return path;
 }

</script>

<!-- title -->
<text transform="translate({width/2}, {margin.top+10})" text-anchor = "middle" font-weight = "bold"> 
    <tspan x="0" dy="1.2em">Gas and electricity energy use per week</tspan>
    <tspan x="0" dy="1.2em">Chicago, December 2014</tspan> 
</text>

<!-- main stem -->
<line x1={width/2} y1 = {margin.top+100} x2 = {width/2} y2={innerHeight + margin.bottom}/>

<!-- leaves -->
<g transform="translate({xtransformation}, {ytransformation})">
    <g transform = {rotation}>
        <path class = "electricity" d={pathGenerator_elec(electricity_data)} transform="translate(0, {-leaf_height})"></path>
        <path class = "gas" d={pathGenerator_gas(gas_data)}></path>
        <text transform="translate(10, {leaf_height + 15})" font-style = "italic">week {week}</text>
    </g>
</g>

<style>
    .electricity {
      fill: blue; 
    }
    .gas {
      fill: orange; 
    }
    line {
        stroke: black;
        stroke-opacity: 0.5;
    }
  </style>