<script>
    export let heating_data;
    export let cooling_data;
    export let city;
    export let innerWidth;
    export let innerHeight;
    export let max_use;
    export let pathGenerator;
    export let radius = 100;

    // import dependencies
    import { scaleLinear } from "d3-scale";
    import { axisLeft } from 'd3-axis';
    import { lineRadial, curveLinearClosed } from "d3-shape";
    import { select } from 'd3-selection'; 
    import { max, extent } from "d3-array";

    // define scales
    $: max_use = max([extent(heating_data)[1], extent(cooling_data)[1]])

    $: xScale = scaleLinear()
        .domain([1, 365])
        .range([0, 2 * Math.PI])
    $: radScale = scaleLinear()
        .domain([0, max_use])
        .range([0, -radius]);

    // define radial path generator
    pathGenerator = lineRadial()
        .curve(curveLinearClosed)
        .angle((d,idx) => xScale(idx+1))
        .radius(d => radScale(-d))
  

    // define axes
    $: radAxis =  axisLeft(radScale).ticks(3, "~s");
    function createRadAxis(element) { 
        radAxis(select(element)); 
    }

    const months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"]; 
    function transform(month_nr) {
        let rotation;
        let string;
        rotation = 30*month_nr-15;
        string = "rotate(" + rotation + ")";
        return string;
    }
</script>

<g use:createRadAxis transform="translate(0, 0 ) ">
</g>
<path class = "heating" d={pathGenerator(heating_data)}></path>
<path class = "cooling" d={pathGenerator(cooling_data)}></path>
<text x= 0 y = {-innerHeight/1.8} text-anchor = "middle" font-weight = "bold">{city}</text>

<!-- improvised radial axes -->
<circle r={radius}></circle>
{#each months as month, idx}
    <text transform={transform(idx+1)} x=0  y = {radScale(max_use)-5} text-anchor = "middle" font-style = "italic" font-size = 10px>{month}</text>
{/each}

{#if max_use > 50000}
<circle r={-radScale(50000)} stroke-opacity = 0.25></circle>
<circle r={-radScale(100000)} stroke-opacity = 0.25></circle>
{:else}
<circle r={-radScale(10000)} stroke-opacity = 0.25></circle>
<circle r={-radScale(20000)} stroke-opacity = 0.25></circle>
{/if}

<style>
    .heating {
      stroke: red;
      stroke-width: 1;
      stroke-opacity: 0.5;
      fill: red;
      fill-opacity: 0.25;  
    }
    .cooling {
      stroke: blue;
      stroke-width: 1;
      stroke-opacity: 0.5;
      fill: blue;
      fill-opacity: 0.25;   
    }
    circle {
        stroke: black;
        fill: none;
    }
  </style>