<script>
export let location = "Baltimore";
export let scaling = "all";
 
</script>   



<h6>Location:</h6>
    <label>
    <input type = radio bind:group = {location} name = "location" value = "Baltimore"> 
    Baltimore
    </label>
    <label>
    <input type = radio bind:group = {location} name = "location" value = "Chicago"> 
    Chicago
    </label>
    <label>
    <input type = radio bind:group = {location} name = "location" value = "Los Angeles"> 
    Los Angeles
    </label>
    
<h6>Scaling:</h6>
    <label>
    <input type = radio bind:group = {scaling} name = "scaling" value = "all"> 
    across all building types
    </label>
    <label>
    <input type = "radio" bind:group = {scaling} name = "scaling" value = "within"> 
    within building types
    </label>