<script>
  export let data;
  export let scaling;
  export let building_type;
  export let extent_all;

  export let domain_yscale;
  export let xScale;
  export let yScale;
  export let yScale_mirror;
  export let innerWidth;
  export let max_thickness = 10;

  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";

  // define scales
  $:if(scaling == "all") {
      domain_yscale = extent_all;
    } else if (scaling == "within") {
      domain_yscale = extent(data);
    };
  
  $: xScale = scaleLinear()
    .domain([1, 744])
    .range([0,innerWidth])
  $: {yScale = scaleLinear()
    .domain([0,domain_yscale[1]])
    .range([max_thickness, 0]);
    domain_yscale = domain_yscale;
  }
  $: yScale_mirror = scaleLinear()
    .domain([0,domain_yscale[1]])
    .range([0, max_thickness])

 // define pathgenerators
let pathGenerator = (d) => {
    let path = "M " + xScale(1) + ","+ yScale(0);
    d.forEach((hour, idx) => {
        path += " " + xScale(idx+1) + ',' + yScale(hour)
    })
    path += " " + xScale(744) + "," + yScale(0)  + " Z";
    return path;
}
let pathGenerator_mirror = (d) => {
    let path = "M " + xScale(1) + "," + yScale(0);
    d.forEach((hour, idx) => {
    let ycoord = yScale_mirror(hour)+10
        path += " " + xScale(idx+1) + ',' + ycoord
    })
    path += " " + xScale(744) + "," + yScale(0) + " Z";
    return path;
}

</script>

  <path d={pathGenerator(data)}></path>
  <path d={pathGenerator_mirror(data)}></path>
  <text x = 0 y = 0 font-size = 8px> {building_type} </text>

<style>
    path {
      fill: rgb(144, 3, 3);
    }
</style>