<script>
  //importing dependencies
  import Viz from "./_design_3_paths.svelte";
  import { max, extent } from "d3-array";
  import { onMount } from "svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Loading data
  let datapoints = [];
  onMount(async () => {   
    const dataTemp = await fetch('data/hourly_electricity_vs_gas_december.json');   
    datapoints = await dataTemp.json();  }); 
  // fetch("http://localhost:3000/static/data/hourly_electricity_vs_gas_december.json")
  //   .then(res => res.json())
  //   .then(data => datapoints = data)
    
  // Create separate arrays for electricity and gas
  let electricity_data = {};
  let gas_data = {};

  $: {electricity_data = {};
      datapoints.forEach((d) => {
      if (!(d.week in electricity_data)) {
        electricity_data[d.week] = []
     };
     electricity_data[d.week].push(d.total_electrity);
    })
    electricity_data = electricity_data;
  }
  $: {gas_data = {};
      datapoints.forEach((d) => {
      if (!(d.week in gas_data)) {
        gas_data[d.week] = []
     };
     gas_data[d.week].push(d.total_gas);
    })
    gas_data = gas_data;
  }  

  //calculate max value for scale  
  $: max_use = max([extent(datapoints.map((d) => d.total_electrity))[1], extent(datapoints.map((d) => d.total_gas))[1]])

</script>

<svg {width} {height}>
  {#each Object.keys(gas_data) as week, week_idx}   
    <Viz electricity_data = {electricity_data[week]} 
      gas_data = {gas_data[week]} 
      {week} 
      {week_idx}
      {innerWidth} 
      {innerHeight}
      {margin}
      {width}
      {max_use}
    />
  {/each}
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
