<script>
  //importing dependencies
  import Viz from "./_design_2_paths.svelte";
  import { onMount } from "svelte";

  // Size and margins
  const width = 800;
  const height = 300;
  const margin = { top: 50, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Loading data
  let datapoints = [];
  onMount(async () => {   
    const dataTemp = await fetch('data/daily_heating_cooling.json');   
    datapoints = await dataTemp.json();  }); 
  // fetch("http://localhost:3000/static/data/daily_heating_cooling.json")
  //    .then(res => res.json())
  //    .then(data => datapoints = data)

  // Create separate arrays for heating and cooling
  let heating_data = {};
  let cooling_data = {};

  $: {heating_data = {};
      datapoints.forEach((d) => {
      if (!(d.city in heating_data)) {
        heating_data[d.city] = []
     };
    heating_data[d.city].push(d.heating);
    })
    heating_data = heating_data;
  }
  $: {cooling_data = {};
      datapoints.forEach((d) => {
      if (!(d.city in cooling_data)) {
        cooling_data[d.city] = []
     };
    cooling_data[d.city].push(d.cooling);
    })
    cooling_data = cooling_data;
  }

</script>

<svg {width} {height}>
  {#each Object.keys(heating_data) as city, city_idx}
    <g transform="translate({margin.left + city_idx*innerWidth/3 + innerWidth/6}, {margin.top + innerHeight/2})">
      <Viz heating_data = {heating_data[city]} 
        cooling_data = {cooling_data[city]} 
        {city} 
        {innerWidth} 
        {innerHeight}
        />
    </g>
  {/each}
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
