<script>
  //importing dependencies
  import Viz from "./_design_1_paths.svelte";
  import Controls from "./_design_1_controls.svelte";
  import { extent } from "d3-array";
  import { onMount } from "svelte";

  // Size and margins
  const width = 800;
  const height = 500;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Loading data
  let datapoints = [];
  onMount(async () => {   
    const dataTemp = await fetch('data/hourly_heating_december.json');   
    datapoints = await dataTemp.json();  }); 
  // fetch("http://localhost:3000/static/data/hourly_heating_december.json")
  //   .then(res => res.json())
  //   .then(data => datapoints = data)

  // Selecting and transforming data for Viz
  let location = undefined;
  let scaling = undefined;
  let selected_datapoints;
  let extent_all;
  $: selected_datapoints = datapoints.filter(hour => hour.city == location);
  $: extent_all = extent(selected_datapoints.map((d) => d.total_heating_energy))

  let transformed_data = {};

  $: {transformed_data = {};
      selected_datapoints.forEach((d) => {
      if (!(d.buildingtype in transformed_data)) {
        transformed_data[d.buildingtype] = []
     };
    transformed_data[d.buildingtype].push(d.total_heating_energy);
    })
    transformed_data = transformed_data;
  }

</script>

<div>
<Controls bind:location bind:scaling/>
</div>

<div>
  <svg {width} {height}>
    {#each Object.keys(transformed_data) as building_type, building_idx}
      <g transform="translate({margin.left}, {margin.top + building_idx * 30 + 5})">
        <Viz data = {transformed_data[building_type]} {building_type} {scaling} {extent_all} {innerWidth} />
      </g>
    {/each}
  </svg>
</div>

<style>
  svg {
border: 1px solid black;
border-radius: 5px;
}
</style>
