<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class:clicked={current=="messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class:clicked={current=="ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:clicked={current=="neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>


<style>
.clicked {
		background-color: green;
	}
</style>