<div>
  <!--  -->
  <h1 name = "Section 1"> Section 1</h1>
  <h2 name = "Section 2"> Section 2</h2>
  <h3 name = "Section 3"> Section 3</h3>
  <h4 name = "Section 4"> Section 4</h4>
  <h5 name = "Section 5"> Section 5</h5>
  <h6 name = "Section 6"> Section 6</h6>
</div>
