<style>
    p {
      color: steelblue;
      font-family: fantasy;
      font-size: larger;
    }
    span {
        color:red;

    }
  </style>
<p>I <span>really</span> like data visualisation!</p>
