<script>
    const name = "Francisca de Jong";
    const list = ["reading", "music", "moving", "statistics", "data science"]
</script>

<p>My name is {name} and these are some of my favourite things: {list} ... .</p>
