<script>
    function circumference_sphere(r){
        return r *  6.2832;
    }
const r = 2
</script>


<p>The circumference of a circle with radius {r}m is {circumference_sphere(r).toFixed(2)}m.</p>
