<script>
  // Properties
  export let data = [];
  export let year = 1800;
  export let continent;
  const continents = ["europe", "asia", "americas", "africa"];

  //functions

  let startstop = "Start";

  function startStopper() {
    if (startstop == "Start") {
      startstop = "Stop";
      const interval = setInterval(() => {
			  year = year + 1;
		    }, 100);
      if (year == 2014) {
        year = 1800;
        }
      }
    else {
      clearInterval(interval);
      startstop == "Start";
    }
  }
  function resetter() {
    clearInterval(interval);
    year = 1800;
    }

    //<div class="dropdown" bind:value={continent}>
    //<button> </button>
    //{#each continents as c}
    //  <button> {c} </button> 
    //{/each}
  //</div>


</script>

<div class="row">
    <button type="button" class="btn btn-primary" on:click={startStopper}> {startstop} </button>
    <button type="button" class="btn btn-primary" on:click={resetter}>Reset</button>
    <input type="range" class="btn btn-primary" min="1800" max="2014" bind:value={year}/>
</div>
