<script>
    let count = 0;

    function clickCounter() {
        count = count + 1;
    }

    function resetter() {
        count = 0
    }

</script>

<button type="button" class="btn btn-primary" on:click={clickCounter}>Clicked {count} times</button>
<button type="button" class="btn btn-danger" on:click={resetter}>Reset</button>

