<script>
  import { onMount } from 'svelte';
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  onMount(() => {  

  const interval = setInterval(() => {
			index = index - 1;
		}, 1000);
    if (index == 0) {clearInterval(interval)};
    
});

$: color = index > 0 ? 'darkred' : 'darkgreen';


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as dp, idx}
      <circle cx={dp} cy={innerHeight/2} r={innerHeight/8} fill={color} opacity={idx + 1 < index ? 0.3 : 1}></circle>
    {/each}
  </g>
</svg>
