<script>
  export let data=[];
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 50, bottom: 50, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import {scaleLinear, scaleLog, scaleOrdinal} from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { schemeDark2 } from 'd3-scale-chromatic';

  const lexpScale = scaleLinear()
    .domain([0, 70])
	  .range([300, 0]);
  const incomeScale = scaleLog()
    .domain([1, 40000])
	  .range([0, 500]);
  const radiusScale = scaleLinear()
    .domain([0, 2000000000])
	  .range([5, 20]);
  const colScale = scaleOrdinal(schemeDark2)
    .domain(['asia', 'americas', 'europe', 'africa']);
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as d}
    <circle cx={incomeScale(+d.income)} cy={lexpScale(+d.life_exp)} r={radiusScale(+d.population)} fill={colScale(d.continent)}></circle>
    {/each}
  </g>
</svg>

