<script>

  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection'; 

  const scale = scaleLog()
    .domain([1, 10])
	  .range([0, 800]);
  const xAxis =  axisBottom(scale);
  function createAxis(element) { 
    xAxis(select(element)); 
  }

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as dp}
      <circle cx={scale(dp)} cy={innerHeight / 2} r=10 fill="teal"/>
    {/each}
    <g use:createAxis transform="translate(0, {height*0.7})">
      <text x="395" y="25" text-anchor="middle" fill="currentcolor">x-axis</text>
    </g>
  </g>
</svg>

