<script>
 
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  // Scales
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { schemeAccent } from 'd3-scale-chromatic';
  const linscaleX = scaleLinear()
    .domain([0, 10])
	  .range([0, 790]);
  const linscaleY = scaleLinear()
    .domain([0, 3])
	  .range([75, 0]);
  const colscale = scaleOrdinal(schemeAccent).domain(['cat1', 'cat2', 'cat3']);

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <line x1={linscaleX(v.x)} y1={linscaleY(v.y)} x2={linscaleX(v.x)} y2={innerHeight}></line>
      <circle cx={linscaleX(v.x)} cy={linscaleY(v.y)} r=5  fill={colscale(v.category)}></circle>
      <text x={linscaleX(v.x)} y={linscaleY(v.y)-10} class="valueLabel">{v.y}</text>  
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line {
    stroke: black;
  }

</style>
