<script>
  import {scaleLinear, scaleBand} from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { select } from 'd3-selection'; 

  const LinscaleY = scaleLinear()
    .domain([0.0, 3.0])
	  .range([260, 0]);
  const ScaleX = scaleBand()
    .domain(["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"])
    .range([0, 530])
    .paddingInner(0.1);

  const AxisX = axisBottom(ScaleX);
  const AxisY = axisLeft(LinscaleY);

  function CreateAxisX(element) { 
    AxisX(select(element)); 
  }

  function CreateAxisY(element) { 
    AxisY(select(element)); 
  }

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    {#each data as dp}
      <rect x={ScaleX(dp.service)} y={LinscaleY(dp.viewers)} width={ScaleX.bandwidth()} height={innerHeight-LinscaleY(dp.viewers)} > </rect>  
    {/each}
    <g use:CreateAxisX transform="translate(0, {innerHeight})"></g>
    <g use:CreateAxisY transform="translate(0, 0)"></g>
    <text transform={"rotate(-90)"} x={-innerHeight/2}  y={-30}>Viewers (Million)</text>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }

  rect {
    fill: steelblue;
  }
</style>
