<script>
  import { onMount } from 'svelte';
  import Scatterplot from "./_ex_7_scatterplot.svelte";
  let data = null;
  onMount(async () => {
    data = await json('/data/gapminder.json');
    data = data.filter(function(d) { return d.year = "2018"; });
  });
  
</script>

<div>
{#if data=null}
<p>Loading data...</p>
{:else}
<Scatterplot datapoints={data}/>
{/if}
</div>